.check-box .box {

-fx-background-color: lightgrey;
-fx-border-color:grey;
-fx-border-radius:3px;
-fx-text-fill: white;

}
.check-box .label {
-fx-text-fill: white;
}

.check-box:selected .mark {
-fx-background-color: lightgrey;
-fx-text-fill: white;
}

.check-box:selected .box {
-fx-background-color: forestgreen;
}